.resultsWrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size:22px;
    color: #808080;
}

.result img{
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
}